.handIcon {
  background-image: url(../images/hand24.gif);
  background-repeat: no-repeat; 
  background-position: center;
  width: 24px;
  height: 24px;
}

.addObservationIcon {
  background-image: url(../images/beaker24.gif);
  background-repeat: no-repeat; 
  background-position: center;
  width: 24px;
  height: 24px;
}

.addPhotoIcon {
  background-image: url(../images/pin24.gif);
  background-repeat: no-repeat; 
  background-position: center;
  width: 24px;
  height: 24px;
}

.infoIcon {
  background-image: url(../images/info24.png);
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/info24.png', sizingMethod='crop');
  background-repeat: no-repeat; 
  background-position: center;
  width: 24px;
  height: 24px;
}
