
/* info boxes -------------------------------------------------------------- */

.bx_i {
  float:left;
  font-size:0px;
  height:120px;
  margin:5px 12px 0pt 0px;
  width:50px;
}

.bx_t {
  float:right;
  height:120px;
  margin:5px 0pt 0pt 0px;
  width:230px;
}

#coursedesc {
  margin-top:5px;
}

#coursedesc h3 {
  font-size:0.9em;
}

#coursedesc p {
  font-size:0.8em;
  margin-bottom:10px;
}

.bodytext {
  float:right;
  width: 500px;
    
}

#flashContainer {
  float:left;
}

p rightAlign {
  text-align:left;
}

.headline {
  font-size:22px;
  line-height:28px;
  padding-bottom:25px;
  text-align:left;
}

#subheadline {
  font-size:22px;
  line-height:30px;
  padding-top:20px;
  text-align:right;
}

#subheadline a {
  color:#333333;
  text-decoration:none;
}

#subheadline a:hover {
  text-decoration:underline;
}

/* DATA POINTS ------------------------------------------------------------- */

.datapointcontainer {
  background-color:#FFFFFF;
  border:2px solid #CCCCBB;   
  margin:10px 15px 5px 0pt;
  padding:5px;
}

.ref {
  font-size:0.8em;
}

.refAuthor {
  color:#333;
  font-weight:bolder;
  margin:3px 0 0 0;
}

.refTitle { }

.refDesc { } 

.refDate { 
  color:#999;
}

/* ------------------------------------------------------------------------- */

#flashMovie {
  background-color: #ffffff;
  font: .8em/1.3em verdana,arial,helvetica,sans-serif;
  text-align: center;
}

#noUpdate {
  margin: 0 auto;
  font-family:Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: #003300;
  text-align: left;
  background-image: url(Tale of Two Teams.swf_nofp_bg.gif);
  background-repeat: no-repeat;
  width: 210px; 
  height: 200px;  
  padding: 40px;
}

/* Popup Styles ------------------------------------------------------------ */

.ero .ero-body {
  position:relative;
  top:0px;
  left:-5px;
  width:400px;
  overflow:hidden;
  border: solid 5px #FCCC00;
  background: #fff;
}

.ero .ero-shadow {
  background:transparent;
}

.ero .ero-body img {
  margin:0 auto 15px;
  display:block;
  padding: 5px;
  border-top: 3px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0; 
}

.ero .ero-body .desc {
  font-size:1.3em;
  color:#3F3F3F; 
}

.ero .ero-body .coords {
  font-size:1em;
  color:#4B57D8;
  float:left;
  margin-top:10px;
}

.ero .ero-body .credit {
  font-size:1em;
  color:#4B57D8;
  float:right;
  clear:both;
  margin-top:10px;
}

.ero .ero-body .ActionButton {
  float:left; 
  cursor:pointer; 
  font: 1.2em;
  color: Blue; 
  padding: 2px;
}

.ero .ero-body .ButtonDisabled {
  color: Gray;
}

/**/

.hidden {
  display:none;
}

#loadingContainer img {
  padding-left: 6px;
}      

#verticalZoomContainer {
  margin:10px;
}                     
                 
.loadingMessage { 
  float:right;
  color:#959595;
  font-size:8px;
  margin-top:6px;
  margin-bottom:0px;
}

/* Map Icons --------------------------------------------------------------- */

.pin {
  margin-left: 8px;
  margin-top:6px; 
  background: url('../images/pin.png'); 
  height:16px; 
  width:23px;
} 

.pin-cl {
  margin-left: 8px;
  margin-top:6px; 
  background: url('../images/pin-cl.png'); 
  height:16px; 
  width:23px;
} 

.pinIE6 {
  margin-left: 8px;
  margin-top:6px; 
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/pin.png', sizingMethod='image'); 
  height:16px; 
  width:23px;
}

.pin-clIE6{
  margin-left: 8px;
  margin-top:6px; 
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/pin-cl.png', sizingMethod='image'); 
  height:16px; 
  width:23px;
}
